

.footer-container {
    background-color: #09090d;
    color: white;

    .back-button {
        background-color: #12111A;
        color: white;
        border: 1px solid #747379;
        border-radius: 25px;
        padding: 10px 50px;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 150px;
    }
    .next-button {
        background-color: white;
        color: linear-gradient(to right, #553eb0, #AC5ED8);
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 12px;
        text-align: center;
    }
    @media only screen and (max-width: 600px)  {
        .back-button {
          width: 100%;
        }
        .next-button {
            text-align: center;
        }
        
      }
      @media only screen and (min-width: 600px) {
        .next-text {
            margin-right: auto;
        }
      }
}

